<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout/template :: page">
<head>
    <title>Medikamente Preisvergleich - Medikamente günstig für alle | medizin-finder.de</title>
</head>
<body>
<div th:fragment="content">
    <div id="content">
        <h1>
            <!--<s:message code="label.loginNow" />-->
        </h1>
        <div class="box">

            <div class="box-container">
                <p>
                    <span>Sie haben sich schon angemeldet?</span>
                    <a th:href="@{/login}">
                        Einloggen
                    </a>
                </p>
                <form th:action="@{/registration}" method="post" id="register" th:object="${command}">
                    <h2>
                        Persönliche Daten:
                    </h2>
                    <div class="content">
                        <table class="form">
                            <tbody>
                            <tr>
                                <td>
                                    <span class="required">*</span>
                                    <span>Benutzername</span>
                                </td>
                                <td>
                                    <input class="q1" name="login" type="text" th:field="*{login}"/>
                                    <span th:if="${#fields.hasErrors('login')}" class="error">Bitte geben Sie Ihren Benutzername ein.</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="required">*</span>
                                    <span>Vorname</span>
                                </td>
                                <td>
                                    <input class="q1" name="firstName" type="text" th:field="*{firstName}"/>
                                    <span th:if="${#fields.hasErrors('firstName')}" class="error">Bitte geben Sie Ihren Vornamen ein.</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="required">*</span>
                                    <span>Nachname</span>
                                </td>
                                <td>
                                    <input class="q1" name="lastName" type="text" th:field="*{lastName}" />
                                    <span th:if="${#fields.hasErrors('lastName')}" class="error">Bitte geben Sie Ihren Nachnamen ein.</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="required">*</span>
                                    <span>E-mail</span>
                                </td>
                                <td>
                                    <input class="q1" name="email" value="" type="text" th:field="*{email}" />
                                    <span th:if="${#fields.hasErrors('email')}" class="error">Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <h2>
                        Passwort:
                    </h2>
                    <div class="content">
                        <table class="form">
                            <tbody>
                            <tr>
                                <td>
                                    <span class="required">*</span>
                                    <span>Passwort</span>
                                </td>
                                <td>
                                    <input class="q1" name="password" value="" type="password" th:field="*{password}"/>
                                    <span th:if="${#fields.hasErrors('password')}"  th:errors="*{password}" class="error">Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="buttons">
                        <div class="right">
                            <span>Mit meiner Anmeldung akzeptiere ich die</span>
                            <a class="colorbox cboxElement" href="${agreement}" alt="General Terms">
                                <b>
                                    medizin-finder.de AGB
                                </b>
                            </a>
                            <input name="acceptedGeneralTerms" value="1" type="checkbox" />
                            <a onclick="$('#register').submit();" class="button">
                                <span>
                                    <span>Weiter</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>