<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout/template :: page">
<head>
    <title></title>
</head>
<body>
    <div th:fragment="content">
        <div th:class="main-container">
            <h1>Suche <span th:text="${parameter}">Parameter</span></h1>

                <nav>
                    <ul class="pagination">
                        <li>last</li>
                    </ul>
                </nav>
        </div>
    </div>
</body>
</html>